
<form action="{{url_for('link_form_submission')}}" method="POST">
	<div class="mb-3">
		<label for="url" class="form-label">URL</label>
		<input
			class="form-control"
			id="url"
			name="url"
			type="url"
			required>
	</div>

	<div class="mb-3">
		<label for="notes" class="form-label">Notes</label>
		<textarea
			class="form-control"
			id="notes"
			name="notes"

			></textarea>
	</div>

	<div class="mb-3">
		<label for="tags" class="form-label">Tags</label>
		<input
			class="form-control"
			id="tags"
			name="tags"
			type="text"
			>
	</div>

	<div>
		<button class="btn btn-primary" type="submit">Save</button>
	</div>
</form>