{% extends 'default.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
	<h1>Home</h1>

	<details>
		<summary>Add link</summary>

		{% include 'fragments/add-link-form.html' %}

	</details>

	{% if links %}
	<ul class="list-group">
		{% for link in links %}
			<li class="list-group-item">
				<p><a href="{{link.url}}">{{link.url}}</a></p>
				{% if link.notes %}
				<p>{{link.notes}}</p>
				{% endif %}
				{% if link.tags %}
				<p>{{link.tags | join(' ')}}</p>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
	{% endif %}

</div>
{% endblock %}