{% extends 'default.html' %}

{% block title %}Post tagged {{tag_name}}{% endblock %}

{% block content %}
<div class="container">
	<h1>Posts tagged {{tag_name}}</h1>

	{% if links %}
	<ul class="list-group">
		{% for link in links %}
			<li class="list-group-item">
				<p><a href="{{link.url}}">{{link.url}}</a></p>
				{% if link.notes %}
				<p>{{link.notes}}</p>
				{% endif %}
				{% if link.tags %}
				<p>{{link.tags | join(' ')}}</p>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
	{% else %}
	<p>No posts are tagged {{tag_name}}</p>
	{% endif %}

</div>
{% endblock %}